In [1]:
fruit=[1,2,3,4]
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

1
2
3
4

In [2]:
l="hello world"
g='H'+l[1:]
g

'Hello world'

In [7]:
h="Mahesh"  #haMhesh

g='h'+h[1:]
g

'hahesh'

In [14]:
word=input()
if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')

jjkh
Your word,jjkh, comes after banana.

In [3]:
s=input()
d=''
for i in s:
    if (i>='a' and i<='z')or (i>='A' and i<='Z'):
        d=d+chr(ord(i)+1)
    else:
        d=d+i
print(d)

Syam Ala!
Tzbn Bmb!

In [23]:
s="syamala"
s2=s.capitalize()
s2

'Syamala'

In [33]:
s2=s.islower()
s2

True

In [28]:
s2

True

In [35]:
while True:
    line = input('>')
    if line[0] == '#':
        continue
    if line == 'done':
        break
    print(line)
print('Done!')

>saym
saym
>amma
amma
>#
>done
Done!

In [17]:
s="syam@123.ac.in com"  # print 123.ac.in
s2=s.find('@')
s3=s.find(' ')
s4=s[s2+1:s3]
s4

'123.ac.in'

- 010101
- 101101  # 3

In [ ]:
n=